**/**.env
**/**.sqlite
**/**.ipynb 
__pycache__/

# Ignore everything in the chroma directory
chroma/*

# Except .gitignore itself (optional if you need it inside chroma)
!chroma/.gitignore

# Specifically do not ignore .py files in chroma directory
!chroma/*.py

 
